<div class="task-list">
  <fs-tasks-filter class="task-list__filter"></fs-tasks-filter>

  <ul
    *ngIf="taskFacade.filteredTasks$ | async as tasks; else spinner;"
    class="task-list__list task-list"
  >
    <fs-task-row
      *ngFor="let task of tasks; trackBy: taskTrackBy "
      [task]="task"
      class="task-list__row"
    >
      <fs-toggle-task class="checkbox" [task]="task"></fs-toggle-task>
    </fs-task-row>
  </ul>
</div>

<ng-template #spinner>
  <mat-progress-spinner
    color="primary"
    mode="indeterminate"
    value="50"
  ></mat-progress-spinner>
</ng-template>
